.license ol {
    counter-reset: item;
    list-style-type: none;
}

.license ol[start="0"] {
    counter-reset: item -1;
    list-style-type: none;
}

.license ol > li::before {
    display: inline-block;
    counter-increment: item;
    width: 1.2em;
    margin-left: -1.2em;
}

.license ol[type="a"] > li::before {
    content: counter(item, lower-alpha) ") ";
}

.license ol > li::before {
    content: counter(item) ") ";
}