.container {
    display: table;
    height: 100%;
    width: 100%;
}

.row, .main-row {
    display: table-row;
}

.row {
  height: 1px;
}

.main-row {
    height: 100%;
}

.cell {
    display: table-cell;
}