.text-area, .editor {
    height: 100%;
    margin: 0;
}

.text-area > textarea {
    line-height: normal;
    height: 100% !important;
    resize: none;
    padding: 15px;
}

.content {
    min-height: 100px;
    height: 100%;
}

.loading-bar {
    margin: 10px 0 5px 0;
}

.loading-bar > div {
    width: 100%;
}