{{#>Layout title='Mup - MarkUp Parser'}}
<h2>Home</h2>
<p>
    Mup, which is short for <strong>M</strong>ark<strong>u</strong>p <strong>P</strong>arser, is a cross-platform library written in C#.
    It targets .NET Standard 1.0 making it available for a wide variety of devices and applications.
</p>
<p>
    The main purpose of the library is to support parsing <a href="https://en.wikipedia.org/wiki/Lightweight_markup_language" target="_blank">Lightweight Markup Languages</a>
    into various output formats, such as HTML, XHTML, XML, Word Documents, Excel Documents, and any other type of document.
</p>
<p>
    The library does not expose types for each mentioned format, but it is made to be extensible. Any parsed text can be run through a
    custom visitor which traverses the resulting parse tree allowing the developer to specify what exactly needs to be generated at
    every step.
</p>
<p>
    To keep it lightweight, the library only provides parsers for several languages (see below) and an <abbr title="HyperText Markup Language">HTML</abbr>
    visitor which allows users to generate <abbr title="HyperText Markup Language">HTML</abbr> from parsed text. With each increment
    (or major version), the library will bring a new parser into the fold and thus supporting more languages. The end goal is to support
    most, if not all, <a href="https://en.wikipedia.org/wiki/Lightweight_markup_language" target="_blank">Lightweight Markup Languages</a>.
</p>

<h3>Language Support</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Language</th>
            <th>Phase</th>
            <th>Release Version</th>
            <th width="60%">Elements</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong><a href="http://www.wikicreole.org/wiki/Home/" target="_blank">Creole</a></strong></td>
            <td>Released </td>
            <td>1.0.0</td>
            <td>
                <span class="badge badge-success">headings</span>
                <span class="badge badge-success">paragraphs</span>
                <span class="badge badge-success">lists</span>
                <span class="badge badge-success">tables</span>
                <span class="badge badge-success">inline code</span>
                <span class="badge badge-success">code blocks</span>
                <span class="badge badge-success">horizontal rules</span>
                <span class="badge badge-success">emphasis (italics)</span>
                <span class="badge badge-success">strong (bold)</span>
                <span class="badge badge-success">inline hyperlinks</span>
                <span class="badge badge-success">hyperlinks</span>
                <span class="badge badge-success">images</span>
                <span class="badge badge-success">line breaks</span>
                <span class="badge badge-success">plugins</span>
            </td>
        </tr>
        <tr>
            <td><strong><a href="http://commonmark.org/" target="_blank">CommonMark</a></strong></td>
            <td>Planned </td>
            <td>2.0.0</td>
            <td>
                <span class="badge badge-secondary">headings</span>
                <span class="badge badge-secondary">paragraphs</span>
                <span class="badge badge-secondary">lists</span>
                <span class="badge badge-secondary">block quotes</span>
                <span class="badge badge-secondary">inline code</span>
                <span class="badge badge-secondary">code blocks</span>
                <span class="badge badge-secondary">horizontal rules</span>
                <span class="badge badge-secondary">emphasis (italics)</span>
                <span class="badge badge-secondary">strong (bold)</span>
                <span class="badge badge-secondary">inline hyperlinks</span>
                <span class="badge badge-secondary">hyperlinks</span>
                <span class="badge badge-secondary">images</span>
                <span class="badge badge-secondary">line breaks</span>
            </td>
        </tr>
    </tbody>
</table>
{{/Layout}}