<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <title>Mup - Markup for Everyone</title>
</head>

<body>
    <div id="root"></div>
    <script src="./jquery.min.js" type="test/javascript"></script>
    <script src="./bootstrap.min.js" type="test/javascript"></script>
</body>

</html>